# Virtual environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Reports
allure_results/
allure-json/

# Environment variables
.env
pytest.ini